@import "tailwindcss";

:root {
  --background: #f3f4f6;
  --foreground: #111827;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #f3f4f6;
  color: #111827;
}

body {
  min-height: 100vh;
}